# This .env file contains environment variables for the application.
# It is used to store configuration settings such as database connection strings,

PORT=8080
BASE_URL=http://localhost:8080

# Database connection string for a MYSQL database is also provided as an example.
# These values match the docker-compose.yml for local development.

# For production, use your own database credentials.
# You can modify these values according to your database configuration.
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=example_db
DB_USER=root
DB_PASSWORD=root

BASIC_AUTH_USER=example_user
BASIC_AUTH_PASS=example_password