# This .env file contains environment variables for the application.
# It is used to store configuration settings such as database connection strings,

GO_ENV=production # Options: development, production
PORT=8080

# Database connection string for a MYSQL database is also provided as an example.
# DB_URL=mysql://user:pass@tcp(localhost:3306)/appdb